<div class="col-xs-12 ">
    <div class="col-xs-12">
        <h1>Your Cart </h1>
    </div>
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
